@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1631432845371') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode3:before {
  content: "\f2f9";
}

.icon-qicheqianlian-:before {
  content: "\e505";
}

.icon-zhuanti:before {
  content: "\e6a6";
}

.icon-shouye:before {
  content: "\e620";
}

.icon-category:before {
  content: "\e502";
}

